C:\Users\Ignacio\Desktop\Projects\GitHub_repos\pixel-space-shooter\Credits.txt
C:\Users\Ignacio\Desktop\Projects\GitHub_repos\pixel-space-shooter\assets\sprite_explosion
C:\Users\Ignacio\Desktop\Projects\GitHub_repos\pixel-space-shooter\assets\sprite_fire
C:\Users\Ignacio\Desktop\Projects\GitHub_repos\pixel-space-shooter\assets\sprite_heal
C:\Users\Ignacio\Desktop\Projects\GitHub_repos\pixel-space-shooter\assets\sprite_laser